.menu-item.menu-item-type-custom a img.menu-image {
    border: none;
    box-shadow: none;
    vertical-align: middle;
}
.menu-item.menu-item-type-custom a img.menu-image,
.menu-image-hover-wrapper {
    margin: 0;
    padding: 0 10px 0 0;
}
.menu-image-hover-wrapper {
    display: block;
    overflow: hidden;
}
.menu-image-hover-wrapper,
.menu-image-hover-wrapper img {
    float: left;
}
a.menu-image-hovered:hover .menu-image-hover-wrapper img.menu-image {
    display: none !important;
}