.menu-item a img {
    border: none;
    box-shadow: none;
    vertical-align: middle;
}
.menu-item a .menu-image-hover-wrapper {
    display: block;
    overflow: hidden;
}
.menu-item a .menu-image-hover-wrapper,
.menu-item a .menu-image-hover-wrapper img {
    float: left;
}
.menu-item a.menu-image-hovered .menu-image-hover-wrapper img.hovered-image,
.menu-item a.menu-image-hovered:hover .menu-image-hover-wrapper img.menu-image {
    opacity: 0;
}
.menu-item a.menu-image-hovered:hover .menu-image-hover-wrapper img.hovered-image {
    opacity: 1;
}
.menu-item a.menu-image-title-hide .menu-image-hover-wrapper,
.menu-item a.menu-image-title-before .menu-image-hover-wrapper {
    vertical-align: top;
    display: inline-block;
    float: none;
}
.menu-item a.menu-image-title-after img,
.menu-item a.menu-image-hovered.menu-image-title-after .menu-image-hover-wrapper {
    padding-right: 10px;
}
.menu-item a.menu-image-title-before img,
.menu-item a.menu-image-hovered.menu-image-title-before .menu-image-hover-wrapper {
    padding-left: 10px;
}
.menu-item a .menu-image-hover-wrapper img {
    padding: 0;
    position: absolute;
    transition: opacity 0.25s ease-in-out 0s;
}